@model CodeFirstMVC.Models.DeptInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DeptInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="deptNo" class="control-label"></label>
                <input asp-for="deptNo" class="form-control" />
                <span asp-validation-for="deptNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deptName" class="control-label"></label>
                <input asp-for="deptName" class="form-control" />
                <span asp-validation-for="deptName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deptEmail" class="control-label"></label>
                <input asp-for="deptEmail" class="form-control" />
                <span asp-validation-for="deptEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deptContact" class="control-label"></label>
                <input asp-for="deptContact" class="form-control" />
                <span asp-validation-for="deptContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
