


<h1> Welcome to the Greetings page </h1>


<form method="post">
    <input type="text" placeholder="Please enter Your Name" class="form-control" name="guestName"/>
    <button class="btn btn-primary glyphicon glyphicon-search"></button>
</form>

<h1> @ViewBag.message </h1>